# project files and folders
.idea
./venv/
*.pyc

# training outputs
/train/training_results/
train/best_model.pt
train/final_model.pt
train/train_info.json

# trained models used in evaluation
/evaluation/autoencoder/best_model.pt
/evaluation/diffusion_model/best_model.pt
